<html>
<head>
    <title>Plantilla Inicial</title>
</head>
<body>
    <h1>El nombre de la empresa: {{nombre}}</h1>

    <form method= "POST">
        <div class="row" style ="background-color:blue ; display: flex;">
            <div class ="col" style ="padding-right: 5%;">
                <textarea style="width: 500px; height: 500px;"></textarea>
            </div>
            <div class ="col" style ="padding: 5% ;">
                <input type="submit">
            </div>
            <div class ="col" style ="padding-left: 5%;">
                <textarea style="width: 500px; height: 500px;"></textarea>
            </div>
        </div>
    </form>
</body>    
</html>